<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>


<h1>All Restaurants:</h1>

<ol>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ol>

<%= link_to "Add a new restaurant", new_restaurant_path %>
